<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>Relatório</title>
  </head>
  <body>
    <h1>Títulos de Copa do Mundo</h1>
    <p>Lista das seleções que tem mais títulos na hitória da copa do mundo.</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Times</th>
          <th scope="col">Títulos</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((item, index)=>{ %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= item.team %></td>
          <td><%= item.titles %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
