<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../style.css" />

    <title>Relatório</title>
  </head>
  <body style="font-size: 12px" class="container">
    <!-- header img -->
    <img
      style="height: 30px; display: none"
      src="https://i.pinimg.com/originals/b9/8a/ec/b98aecd652d202842fb3e5e48d4eecd1.jpg"
      alt="fifa logo"
    />

    <h1>Títulos de Copa do Mundo</h1>
    <br />
    <div class="row">
      <div class="col">
        <p>
          Copa do Mundo FIFA, mais conhecida no Brasil pelo nome de Copa do
          Mundo e também conhecida em Portugal como Campeonato do Mundo de
          Futebol, Campeonato Mundial de Futebol, Campeonato Mundial FIFA, ou
          simplesmente Mundial, é uma competição internacional de futebol que
          ocorre a cada quatro anos, com exceção de 1942 e 1946, quando não foi
          realizado por causa da Segunda Guerra Mundial. Essa competição, criada
          em 1928 na França, sob a liderança do presidente Jules Rimet, está
          abertas
        </p>
      </div>
      <div class="col">
        <img
          style="height: 120px"
          src="https://footure.com.br/wp-content/uploads/2020/04/pel%C3%A9.jpeg"
          alt=""
          class="mb-3"
        />
        <p>
          a todas as federações reconhecidas pela FIFA (Federação Internacional
          de Futebol Associado, em francês: Fédération International de Football
          Association). O antigo nome da taça faz referência a Jules Rimet. A
          primeira edição ocorreu em 1930 no Uruguai, cuja seleção saiu
          vencedora.
        </p>
      </div>
    </div>
    <p>
      Com exceção da Copa do Mundo de 1930, o torneio sempre foi realizado em
      duas fases. Organizada pelas confederações continentais, as Eliminatórias
      da Copa do Mundo permitem que as melhores seleções de cada continente
      participem da competição, que ocorre em um ou mais países-sede. O formato
      atual da Copa do Mundo é com trinta e duas equipes nacionais por um
      período de cerca de um mês. A partir da edição de 2026 o torneio contará
      com a participação de 48 equipes.
    </p>
    <p>
      Apenas oito países foram campeões mundiais até hoje. O Brasil, a única
      seleção a ter jogado em todas as competições, é o maior campeão com cinco
      títulos. É também o único proprietário permanente da Taça Jules Rimet
      (posta em jogo em 1930) e ganha em definitivo pelo país que vencesse pela
      terceira vez o campeonato, o que se deu na competição em 1970, com Pelé, o
      único jogador tricampeão mundial da história. A seleção brasileira é
      seguida pela Itália e Alemanha, com quatro troféus cada um. A equipe que
      venceu a primeira edição, o Uruguai, conquistou duas vezes, como a
      Argentina e a França, atual campeã. Finalmente, a Inglaterra e a Espanha,
      ganharam uma Copa do Mundo cada um. O Uruguai (1930), a Itália (1934), a
      Inglaterra (1966), a Alemanha (1974), a Argentina (1978) e a França (1998)
      conseguiram vencer ao menos uma edição em casa. Enquanto, os únicos países
      a ganharem fora de seus continentes são o Brasil na Europa em 1958 e na
      Ásia em 2002, a Espanha na África em 2010 e a Alemanha na América do Sul
      em 2014.
    </p>

    <p>
      A Copa do Mundo é o evento esportivo mais assistido e prestigiado em todo
      o mundo, ultrapassando até mesmo os Jogos Olímpicos. Economicamente, a
      competição tem efeitos positivos sobre o crescimento de certos setores e
      para o desenvolvimento do país que sedia. Instalações desportivas,
      incluindo os estádios, são construídos ou reformados para a ocasião.
      Estradas, aeroportos, hotéis e infraestrutura de um modo geral, também são
      melhorados para receber a competição. Entretanto, um país menos
      desenvolvido, de "Terceiro Mundo", pode sofrer mais que o esperado para
      organizar um Mundial.
    </p>

    <h2>
      Lista das seleções que tem mais títulos na hitória da copa do mundo.
    </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Times</th>
          <th scope="col">Títulos</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((item, index)=>{ %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= item.team %></td>
          <td><%= item.titles %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <p>
      Brasil (em 1958 e 1962) e Itália (em 1934 e 1938) são os únicos países que
      já ganharam duas vezes seguidas a competição. Com apenas dois gols
      sofridos, França em 1998, Itália em 2006 e Espanha em 2010, foram os
      campeões que tiveram o melhor desempenho defensivo da história.
      Entretanto, a Suíça possui a melhor defesa em uma edição de Mundial, já
      que em 2006 foi eliminada nas oitavas de final da Copa sem sofrer nenhum
      gol, quando perdeu para a Ucrânia na disputa por pênaltis.
    </p>
  </body>
</html>
